Source: muparserx
Section: libs
Priority: optional
Maintainer: Ingo Berg <muparserx@beltoforion.de>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.0)
Standards-Version: 3.9.8
Homepage: http://articles.beltoforion.de/article.php?a=muparserx
Vcs-Git: https://github.com/beltoforion/muparserx.git
Vcs-Browser: https://github.com/beltoforion/muparserx

Package: libmuparserx4.0.8
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
     ${shlibs:Depends},
     ${misc:Depends}
Description: muparserx - shared library
 Expression parser library.

Package: libmuparserx-dev
Section: libdevel
Architecture: any
Depends:
    libmuparserx4.0.8 (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: muparserx - development files
 Expression parser library.

